<!DOCTYPE html>
<html lang="en">

<head>
    <title>My-Products</title>
</head>

<body>
    <img src="{{product.imageUrls.[0]}}" alt="images">
    <h1>name:{{product.name}}</h1>
    <h3>Rs.{{product.price}}</h3>
    <h2>Brans:{{product.brand}}</h2>
    <h2>category:{{product.category}}</h2>
    <p>description:{{product.description}}</p>
</body>

</html>